.app.dark {
    --bg-color: rgb(41 41 166);
    --inverted-bg-color: rgb(219 219 219);
    --primary-color: rgb(4 147 4);
    --secondary-color: rgb(37 194 37);
    --inverted-primary-color: rgb(15 15 77);
    --inverted-secondary-color: rgb(31 31 201);
}